/* .Manager {
width: 500px;
margin: 20px;
padding: 20px;
border: 15px, solid, gray;
background-color: aquamarine;
}
button{
    background-color: burlywood;
    margin-left: 10px;
    font-weight: bold;
} */